 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* wichtig für responsive Breite */
}

.background {
    position: fixed;
    top: 60px;
    left: 13px;
    right: 13px;
    bottom: 13px;

    background-image: url("content/IMG_5932_sw_rauschen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 1;
    z-index: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background: white;
    min-height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

nav li{
    font-size: 18px;
    font-weight: bold;
    margin: 15px 18px 0px 18px;
}

nav a:hover {
      filter: url(#warp2);
    }



.outline{
    font-weight: bold;
    fill: rgb(255, 0, 0);
     stroke: black;
     stroke-width: 15px;
     stroke-linejoin: round;
     paint-order: stroke;
}

.info-text{
    font-size: 18px;
    font-weight: normal;
    margin: 15px 18px 0px 18px;
}