 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* wichtig für responsive Breite */
}

body {
    background: rgb(237, 237, 237);  
}

.image-container {
    display: flex;
    gap: 21px;
    margin: 21px 21px 21px 21px;
}

.image-left, .image-right {
width: 300px;
  height: 225px;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 768px) {
    .image-container {
    flex-direction: column;
     gap: 21px;
    }

    .image-left, .image-right {
width: 300px;
  height: 225px;
  object-fit: contain;
  object-position: center;
    }

  }